html {
	height: 100%;
	min-height: 100%;
	padding: 0;
	font-family: 'Roboto',"Helvetica Neue","sans-serif" !important;
}
body {
	height: auto !important;
	padding: 0 0 48px 0;
	background-color: #fafafa;
	font-family: 'Roboto',"Helvetica Neue","sans-serif" !important;
}
@media (max-width: 599px){
	body {
		height: auto !important;
		padding: 0 0 156px 0;
		background-color: #fafafa;
	}
}
/* -- Footer -- */
.footer {
	font-size: smaller;
	color: gray;
	background-color: #ffffff;
	height: 48px;
	position: absolute;
	bottom: 1;
	width: 100%;
}
@media (max-width: 599px){
	.footer {
		height: 156px;
	}
}

/* ---------- Common ------------ */
.hidden {
	display: none !important;
}
.transparent {
	background: transparent !important;
}
.text-center-vertical{
	top: 0;
	bottom: 0;
	margin-top: auto;
	margin-bottom: auto;
}
.text-align-end {
	text-align: end;
}
.text-muted {
	color: gray;
}
.link {
	text-decoration: none !important;
	cursor: pointer;
}
[layout-margin-sm] {
	margin: 4px;
}
[layout-padding-sm]{
	padding: 4px;
}
[display-block]{
	display: block;
}
[display-inline]{
	display: inline;
}
.stick-to-bottom {
  position: absolute;
  bottom: 0;
}
.stick-to-right {
  position: absolute;
  right: 0;
}
.img-circle {
  border-radius: 50%;
}
.font-medium {
  font-size: medium;
}
.font-smaller {
	font-size: smaller;
}
.font-small {
  font-size: small;
}
.font-x-small {
  font-size: x-small;
}
.text-center-vertical{
  top: 0;
  bottom: 0;
  margin-top: auto;
  margin-bottom: auto;
}
/*-- Progress Modal --*/
.progress-modal {
  visibility: hidden;
  position: fixed;
  left: 0px;
  top: 0px;
  width:100%;
  height:100%;
  text-align:center;
  z-index: 1000;
  background-color: black;
  opacity: 0.5;
}
.progress-modal > md-progress-circular {
  position: absolute;
  margin-right: auto;
  margin-left: auto;
  margin-top: auto;
  top: 50%;
  left: 0;
  right: 0;
}

/* ---------- Header ----------- */
nav.navbar {
	margin-bottom: 0;    
	background-color: rgba(0,128,128, 0.9);
    border: 0;
    border-radius: 0;
}
nav.navbar .navbar-toggle{
	border-color: transparent;
}
nav.navbar .navbar-collapse {
	border: none;
}
nav.navbar .navbar-nav li.nav-link.dropdown,
nav.navbar .navbar-nav li.nav-link.active.dropdown {
	border-bottom: 0;	
}
nav.navbar .navbar-nav li.nav-link {
	border-bottom: 4px solid transparent;	
}
nav.navbar .navbar-nav li.nav-link.active {
	border-bottom: 4px solid #ffffff;	
}
@media (max-width: 599px) {
	nav.navbar .navbar-nav li.nav-link.active {
		border-bottom: 4px solid transparent;	
	}
}
nav.navbar .navbar-nav li.nav-link > a,
nav.navbar .navbar-nav li.open.nav-link > a,
nav.navbar .navbar-nav li.active.nav-link > a {
	color: #ffffff;
	text-decoration: none;
	background: none;
}

/* ---------- FAB ----------- */
.md-fab {
	position: fixed !important; 
	right: 16 !important; 
	bottom: 32 !important;
}


/* ---------- Dialog ------------ */
md-dialog {
	min-width: 450px;
}

/* ---------- Intro ------------ */
.intro {
	height: 350px;
	min-height: 250px;
	width: 100%;
	position: relative;
}
.intro > .canvas-overlay {
	position: absolute;
	top: 0;
	background: rgba(0,128,128, 0.9);
}
.intro #logo {
	position: absolute;
	top: 35%;
	left: 50%;
	margin-left: -72px;
}
/** User avatar **/
.avatar {
	height: 32px;
	width: 32px;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	background-repeat: no-repeat;
}
.avatar-sm {
	height: 24px;
	width: 24px;
}
.avatar-lg {
	height: 64px;
	width: 64px;
}

/* ---------- Card ------------ */
.animation-card {
	margin: 16px;
}
.animation-card > md-whiteframe img {
	width: 320px;
	height: 160px;
}
/*@media (max-width: 599px){
	.animation-card > md-whiteframe img {
		width: 128px;
		height: 64px;
	}
}*/
.animation-card span.options {
	right: 2px;
	top: 2px;
}
.animation-card .thumbnail-image-container {
  position: relative;
  border-bottom: 1px solid lightgray;
}
.animation-card .thumbnail-left-icon {
    position: absolute;
    left: 0;
    top: 0;
    cursor: default;
	margin: 4px;
}
.animation-card .thumbnail-content {
	margin: 4px;
}

/** Grafika canvas */
#canvas {
	display: block;
	width: 100%;
	max-height: 480px;
}
#canvas-container {
	margin: 0 auto;
	box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.25); 
	padding: 0;
	width: 100%;
	max-height: 480px;
}
/** playback */
.playback {
	margin-top: 4px;
	margin-bottom: 4px;
}
.playback #canvas-container {
	margin-top: 4px;
	margin-bottom: 4px;
}
.playback-header {
	background-color: rgba(0,0,0,0.3);
	/*position: absolute;*/
	top: 0;
	left: 0;
	width: 100%;
	color: #ffffff;
	height: 48px;
}
.playback-footer {
	/*background-color: rgba(0,0,0,0.3);*/
	/*position: absolute;*/
	/*bottom: 0;
	left: 0;*/
	width: 100%;
	height: 48px;
}
/** Popup menu */
/*.md-panel-outer-wrapper {
    position: absolute;
    left: 0;
    top: 0;
}
.md-panel-outer-wrapper > .md-panel {
	position: absolute;
}
.popup-menu {
	background: white;
	border-radius: 4px;
	box-shadow: 0 7px 8px -4px rgba(0, 0, 0, 0.2),
		0 13px 19px 2px rgba(0, 0, 0, 0.14),
		0 5px 24px 4px rgba(0, 0, 0, 0.12);
	width: 256px;
}
.popup-menu-item {
	align-items: center;
	cursor: pointer;
	display: flex;
	height: 48px;
	padding: 0 16px;
	position: relative;
	transition: background 0.15s linear;
	width: auto;
}*/


/** --------------- Sign-in --------------- */
button.sign-in-button {
  height: 32px;
  padding-left: 16px;
  padding-right: 16px;
}
button.sign-in-button.facebook {
  background-color: #3C5C95;
}
button.sign-in-button.facebook:hover {
  background-color: #3C5C95 !important;
}
button.sign-in-button.google {
  background-color: #DF4A32;
}
button.sign-in-button.google:hover {
  background-color: #DF4A32 !important;
}
button.sign-in-button > img{
  width: auto;
  height: 24px;
  vertical-align: middle;
  margin-right: 8px;
}
button.sign-in-button > span{
  color: #ffffff;
}