<footer id="footer" class="footer">
    <div layout="column" flex>
        <md-divider></md-divider>
        <div class="footer-content" layout="row" layout-xs="column" layout-margin>
            <span ng-bind="'© 2016 Grafika'"></span>
            <span hide-xs vertical-divider-space></span>	
            <span><a href="/about">About</a></span>
            <span hide-xs vertical-divider-space></span>	
            <span hide-xs><a href="/feedback">Feedback</a></span>
            <span hide-xs vertical-divider-space></span>
            
            <span hide-xs flex></span>
            
            <span><a href="/help">Help</a></span>
            <span hide-xs vertical-divider-space></span>	
            <span hide-xs><a href="/eula">Terms</a></span>
            <span hide-xs vertical-divider-space></span>	
            <span hide-xs><a href="/privacy">Privacy</a></span>
            <span hide-xs vertical-divider-space></span>	
            <span ng-bind="'v' + vm.getAppVersion()"></span>
        </div>
    </div>
</footer>