<footer id="footer" class="footer">
    <div layout="column" flex>
        <md-divider></md-divider>
        <div class="footer-content" layout="row" layout-wrap layout-margin>
            <span flex-xs="35">© 2016 Grafika</span>
            <span flex-xs="35"><a href="/about">About</a></span>
            <span flex-xs="35"><a href="/about/feedback">Feedback</a></span>
            
            <span hide-xs flex></span>
            
            <span flex-xs="35" layout-align-xs="end"><a href="/help">Help</a></span>	
            <span flex-xs="35" layout-align-xs="end"><a href="/eula">Terms</a></span>	
            <span flex-xs="35" layout-align-xs="end"><a href="/privacy">Privacy</a></span>
            <span flex-xs="50" layout-align-xs="center" ng-bind="'v' + app.version"></span>
        </div>
    </div>
</footer>