<nav class="header md-whiteframe-z1 navbar navbar-inverse">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header" style="margin-right: 0; margin-left: 0">
            <a href="#" ng-click="app.openSideNav()" show-xs show-sm hide-gt-sm layout-margin style="text-decoration: none; outline: none">
                <md-icon md-font-family="material icons" style="color: white">menu</md-icon>
            </a>
            <a class="nav-link nav-link-logo" active-link="active" ui-sref="home">
                <img id="logo" src="/assets/img/logo.png" height="48px" style="margin-top: 3px"/>
            </a>
        </div>
        
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div hide-xs hide-sm show-gt-sm style="margin-right: 8px; margin-left: 0">
            <ul class="nav navbar-nav navbar-right">
                <li class="nav-link" ng-repeat="menu in app.getNavigationMenus()">
                    <a href="#" ui-sref="{{menu.sref}}" active-link="active">
                        <md-icon md-font-family="material icons">{{menu.icon}}</md-icon>&nbsp;{{menu.name}}
                    </a>
                </li>
                <li class="nav-link dropdown" ng-if="vm.isAuthorized('user')">
                    <a href="#" class="dropdown-toggle" active-link="active" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" style="padding: 10px;">
                        <img class="avatar link text-center-vertical" ng-src="{{vm.getUser().prefs.avatar}}" ng-click="$mdOpenMenu($event)">
                        &nbsp;{{vm.getUser().getDisplayName()}} <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" style="min-width: 196px">
                        <li>
                            <a href="#" ng-click="vm.navigate('/profile')">
                                <md-icon md-font-family="material icons">person</md-icon>&nbsp;Profile
                            </a>
                        </li>
                        <li>
                            <a href="#" ng-click="vm.navigate('/settings')">
                                <md-icon md-font-family="material icons">settings</md-icon>&nbsp;Settings
                            </a>
                        </li>
                        <li role="separator" class="divider"></li>
                        <li>
                            <a href="#" ng-click="vm.confirmLogout()">
                                <md-icon md-font-family="material icons">lock</md-icon>&nbsp;Log out
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div>
</nav>