<style ng-if="!vm.isAuthorized('user')">
	nav.navbar .nav-link-logo {
		display: none
	}
</style>
<div class="home">
	<div class="intro md-whiteframe-z2" ng-if="!vm.isAuthorized('user')" ng-init="vm.initGrafika()">
		<div class="canvas-container">
			<canvas layout-fill id="intro-canvas"></canvas>
		</div>
		<div layout-fill class="canvas-overlay"></div>
		<img id="logo" src="/assets/img/logo.png" />
	</div>

	<div layout="row" ng-controller="AnimationListController as vm">
		<div layout-margin-sm>
			<form name="filterForm" ng-submit="vm.list()">
				<md-input-container class="md-block">
					<label>Search</label>
					<input type="search" ng-model="vm.query">
				</md-input-container>
			</form>
		</div>
		<div ng-include="'app/animation/list.html'" flex></div>
	</div>
</div>