<style ng-if="!app.isAuthorized('user')">
	nav.navbar .nav-link-logo {
		display: none
	}
</style>
<div class="home">
	<div class="banner" ng-if="!app.isAuthorized('user')" ng-init="app.initGrafika()">
		<div class="canvas-container">
			<canvas id="banner-canvas"></canvas>
		</div>
		<div layout-fill class="canvas-overlay"></div>
		<img id="logo" src="/assets/img/logo.png" />
	</div>
	<div class="intro md-whiteframe-z2" layout="column" ng-if="!app.isAuthorized('user')">
		<div layout="row" layout-align="center" layout-wrap>
			<div class="part" flex-gt-sm="30" flex="90" layout-padding>
				<p>
					<i class="material-icons">movie_filter</i><br/>
					<span class="md-headline">Easy to use</span>
				</p>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
					Mauris consectetur pharetra mi ac pulvinar. Maecenas sed eros justo. 
					Etiam nec lacinia dui. Ut rhoncus dignissim erat.
				</p>
				<div layout="row" layout-padding layout-align="center">
					<a class="btn btn-default" href="#list">Browse</a>
				</div>
			</div>
			<div class="part" flex-gt-sm="30" flex="90" layout-padding>
				<p>
					<i class="material-icons">account_box</i><br/>
					<span class="md-headline">Personalized</span>
				</p>
				<p>
					Nullam congue aliquet finibus. Ut placerat eu leo eu elementum. 
					Phasellus maximus non magna sit amet gravida. 
					Fusce ex libero, sollicitudin in lobortis nec, pharetra at tellus
				</p>
				<div layout="row" layout-padding layout-align="center">
					<button class="btn btn-success" ng-click="app.login($event)">Login</button>
					<span>&nbsp;</span>
					<button class="btn btn-info" ng-click="app.register($event)">Register</button>
				</div>
			</div>

			<div class="part" flex-gt-sm="30" flex="90" layout-padding>
				<p>
					<i class="material-icons">devices</i><br/>
					<span class="md-headline">Cross Platform</span>
				</p>
				<p>
					Etiam accumsan arcu lorem. Proin iaculis sollicitudin eleifend. 
					Integer eget urna neque. Nam lobortis eget magna et euismod. 
					Integer et urna vestibulum, fringilla urna eu, pretium metus.
				</p> 
			</div>
		</div>

		<div style="position: relative; height: 256px;" ng-if="!app.isAuthorized('user')" >
			<div style="position: absolute; left: 0; top: 0; height: 100%; width: 100%; background: url('assets/img/code-background.png')"></div>
			<div style="position: absolute; left: 0; top: 0; height: 100%; width: 100%; background-color: rgba(0,128,128, 0.9)">
				<div layout="row" class="open-source" style="margin: 32px">
					<div layout="row" layout-padding layout-align-gt-md="center" flex-gt-md>
						<img src="assets/img/github_light.png" width="64" height="64">
						<div class="text-white" layout-align="center">
							<p class="md-headline" layout="row" layout-wrap>
								Open
							</p>
							<p>
								Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
								Maecenas et interdum nunc. Nullam in nisi ac mauris rutrum vulputate 
								Maecenas ac arcu nec dolor porttitor ac eu purus.
							</p>
							<div layout="row" layout-padding>
								<a class="btn btn-success" href="http://github.com/bingzer/grafika" target="_blank">Grafika</a>
								<span>&nbsp;</span>
								<a class="btn btn-info" href="http://github.com/bingzer/grafika.js" target="_blank">Grafika.js</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div id="list" layout-gt-sm="row" layout="column" ng-controller="AnimationListController as vm">
		<form style="margin-top: 16px; margin-bottom: -24px" layout-gt-sm="column" layout="row" name="filterForm" ng-submit="vm.list()" layout-margin-gt-sm>
			<md-input-container flex-xs flex-sm>
				<label>Search</label>
				<input type="search" ng-model="vm.paging.term" flex>
			</md-input-container>
			<md-input-container>
				<label>Sort</label>
				<md-select ng-model="vm.paging.sort" ng-change="vm.list()">
					<md-option ng-repeat="sort in vm.animationSorts" ng-value="sort.key" ng-bind="sort.value"></md-option>
				</md-select>
			</md-input-container>
			<span style="margin-top: 2px">
				<md-button class="md-button md-primary" type="submit">Search</md-button>
				<md-button class="md-button" type="button" ng-click="vm.reset()">Reset</md-button>
			</span>
		</form>
		<div ng-include="'app/animation/list.html'" layout-margin-xs layout-margin-sm flex-gt-sm></div>
	</div>
</div>