<!-- Context Menu -->
<div id="drawing-context-menu" class="drawing-context-menu md-whiteframe-z3" style="background-color: #ffffff; display: none;">
<md-list>	      
    <!-- Frame -->
    <div ng-show="vm.grafika.getSelectedGraphics().length == 0">
        <!-- Generic -->
        <md-list-item ng-click="vm.grafika.nextFrame()">
            <md-icon md-font-library="material-icons" aria-label="Next Frame">navigate_next</md-icon>
            <p>Next Frame</p>
        </md-list-item>
        <md-list-item ng-click="vm.grafika.previousFrame()">
            <md-icon md-font-library="material-icons" aria-label="Previous frame">navigate_before</md-icon>
            <p>Previous Frame</p>
        </md-list-item>
        <md-divider></md-divider>
        <md-list-item ng-click="vm.setOptions({ drawingMode: 'select'});" ng-show="vm.grafika.getFrame().layers[0].graphics.length > 0">
            <md-icon md-font-library="material-icons" aria-label="Move">photo_size_select_small</md-icon>
            <p>Select</p>
        </md-list-item>
        <md-list-item ng-show="vm.grafika.copiedSelectedGraphics.length > 0" ng-click="vm.pasteGraphics()">
            <md-icon md-font-library="material-icons" aria-label="Paste">content_paste</md-icon>
            <p>Paste graphics</p>
        </md-list-item>
        <md-divider></md-divider>
        <md-list-item ng-click="vm.confirmClearFrame()">
            <md-icon md-font-library="material-icons" aria-label="Clear frame">crop_free</md-icon>
            <p>Clear</p>
        </md-list-item>
        <md-list-item ng-click="vm.copyFrame()">
            <md-icon md-font-library="material-icons" aria-label="Copy frame">content_copy</md-icon>
            <p>Copy frame</p>
        </md-list-item>
        <md-list-item ng-click="vm.pasteFrame()" ng-disabled="vm.canPasteGrpahics">
            <md-icon md-font-library="material-icons" aria-label="Paste frame">content_paste</md-icon>
            <p>Paste frame</p>
        </md-list-item>
        <md-list-item ng-click="vm.deleteFrame()">
            <md-icon md-font-library="material-icons" aria-label="Delete frame">delete</md-icon>
            <p>Delete frame</p>
        </md-list-item>
        <md-divider></md-divider>
        <md-list-item ng-click="vm.showFrameProperties()">
            <md-icon md-font-library="material-icons" aria-label="Properties">bookmark</md-icon>
            <p>Properties</p>
        </md-list-item>
    </div>
    
    <!-- Graphics -->
    <div ng-show="vm.grafika.getSelectedGraphics().length > 0">
        <md-list-item ng-click="vm.setOptions({ drawingMode: 'paint'});">
            <md-icon md-font-library="material-icons" aria-label="Done">check</md-icon>
            <p>Done</p>
        </md-list-item>
        <!--<md-list-item ng-click="vm.grafika.setOptions({ drawingMode: 'move'})">
            <md-icon md-font-library="material-icons" aria-label="Move">open_with</md-icon>
            <p>Move</p>
        </md-list-item>-->
        <md-divider></md-divider>
        <md-list-item ng-click="vm.cutGraphics()">
            <md-icon md-font-library="material-icons" aria-label="Cut">content_cut</md-icon>
            <p>Cut</p>
        </md-list-item>
        <md-list-item ng-click="vm.copyGraphics()">
            <md-icon md-font-library="material-icons" aria-label="Copy">content_copy</md-icon>
            <p>Copy</p>
        </md-list-item>
        <md-list-item ng-show="vm.grafika.getSelectedGraphics().length > 0" ng-click="vm.confirmDeleteGraphics()">
            <md-icon md-font-library="material-icons" aria-label="Delete">delete</md-icon>
            <p>Delete</p>
        </md-list-item>
        <md-list-item ng-show="vm.grafika.getSelectedGraphics().length > 0" ng-click="vm.showGraphicsProperties()">
            <md-icon md-font-library="material-icons" aria-label="Properties">bookmark</md-icon>
            <p>Properties</p>
        </md-list-item>
    </div>
</md-list>
</div>