@model AnimationsViewModel

<div class="bg-transparent page-heading"></div>
<header id="header" class="page-content page-content-article page-section">
    <div class="row text-center">
        <h1>
            Get it now for Android
        </h1>
        <hr class="primary">
        <p>
            <a href="https://play.google.com/store/apps/details?id=com.bingzer.android.grafika" title="Get it from Google Play Store">
                <img src="~/img/google-play-badge.png" />
            </a>
        </p>
    </div>
    <div class="row text-center">
        <iframe class="youtube-embedd" width="560" height="315" src="https://www.youtube.com/embed/3ZCec3aFTI8" frameborder="0" allowfullscreen></iframe>
    </div>
</header>
<section class="bg-transparent page-section" id="migration">
    <div class="row">
        <header class="col-lg-12 text-center">
            <h2 class="font-larger">
                <a href="https://play.google.com/apps/testing/com.bingzer.android.grafika" target="_blank" class="btn btn-round btn-xl btn-danger">
                    Sign up for BETA testing
                </a>
            </h2>
            <p class="font-larger">
                Be among the first ones to enjoy the latest features<br/>
                by becoming a BETA tester
            </p>
        </header>
    </div>
</section>

@section styles {
    <environment names="Development">
        <link href="~/css/GrafikaApp.Platforms.css" rel="stylesheet" type="text/css">
        <link href="~/css/GrafikaApp.Android.css" rel="stylesheet" type="text/css">
    </environment>
    <environment names="Production">
        <link href="~/css/GrafikaApp.Bundle.Platforms.min.css" rel="stylesheet" type="text/css">
        <link href="~/css/GrafikaApp.Bundle.Android.min.css" rel="stylesheet" type="text/css">
    </environment>
}

@section scripts {
    <environment names="Development">
        <script type="text/javascript" src="~/js/jquery.easing.js"></script>
        <script type="text/javascript" src="~/js/GrafikaApp.Platforms.js"></script>
        <script type="text/javascript" src="~/js/GrafikaApp.Android.js"></script>
    </environment>
    <environment names="Production">
        <script type="text/javascript" src="~/js/GrafikaApp.Bundle.Platforms.min.js"></script>
        <script type="text/javascript" src="~/js/GrafikaApp.Bundle.Android.min.js"></script>
    </environment>
}