<div class="public">
	<div id="list" layout-gt-sm="row" layout="column" ng-controller="AnimationListController as vm">
		<form name="filterForm"  
			layout-gt-sm="column" 
			layout="row" layout-wrap
			layout-padding
			ng-submit="vm.list()"
			ng-class="{'md-whiteframe-z2': app.media('xs') || app.media('sm')}">
			<md-input-container flex-xs="100" flex-sm="55">
				<label>Search</label>
				<input type="search" ng-model="vm.paging.term" flex>
			</md-input-container>
			<md-input-container flex-xs="100" flex-sm="35">
				<label>Sort</label>
				<md-select ng-model="vm.paging.sort" ng-change="vm.list()">
					<md-option ng-repeat="sort in vm.animationSorts" ng-value="sort.key" ng-bind="sort.value"></md-option>
				</md-select>
			</md-input-container>
			<span flex-xs="100" flex-sm="100" layout="row" layout-align-xs="end">
				<md-button class="md-button md-primary md-raised md-cornered" type="submit">Search</md-button>
				<md-button class="md-button md-raised md-cornered" type="button" ng-click="vm.reset()">Reset</md-button>
			</span>
			
    		<gf-adsense ng-if="app.media('gt-sm')"></gf-adsense>
		</form>
		<div ng-include="'app/animation/list.html'" layout-margin-xs layout-margin-sm flex-gt-sm></div>
		<gf-adsense ng-if="app.media('sm') || app.media('xs')"></gf-adsense>
	</div>
</div>