<div class="animation" layout="column" flex>
    <section>
        <h3>Grafika</h3>
        <p>
            Grafika is another attempt after <a target="_blank" href="/stickdraw">StickDraw</a> 
            to create a simple animation maker. The intent is to provide a platform that can be run in almost any browser that supports 
            <code>&lt;canvas&gt;</code> element.
        </p> 
        <p>
            The core renderer is called <a target="_blank" href="https://github.com/bingzer/grafika.js">grafika.js</a> which is written
            in JavaScript/TypeScript. This allows other platform to use this library and render the animations easily.
            The code is open! So, anybody can contribute.
        </p>
    </section>
</div>