<div class="android" layout="column" flex>
    <section>
        <h3><i class="material-icons">android</i>&nbsp;Android</h3>
        <p>
            Grafika is available on Google Play Store<br/>
            <p>
            <a href="https://play.google.com/store/apps/details?id=com.bingzer.android.grafika" 
                title="Get it on Google Play (Alpha channel)" style="padding: 0px"
                analytics-on="click" analytics-category="app" analytics-event="google-play"><img height="36" src="/assets/img/google-play-badge.png" alt="Get it on Google Play"/></a>
            </p>
        </p>
        <p>
            There are different channels to try the app:
            <ul style="list-style: none;">
                <li>
                    <h4>Alpha Testing</h4>
                    <p>
                        This channel is mostly unstable and released almost daily. 
                        Opened only for anybody that signed-up for alpha-testing
                    </p>
                </li>
                <li>
                    <h4>Beta Testing</h4>
                    <p>
                        This channel is open for everybody to want to try the latest
                        release before any feature gets to the production.
                    </p>
                </li>
                <li>
                    <h4>Production</h4>
                    <p>
                        This channel is for everybody. The app is considered most stable
                        in this channel.
                    </p>
                </li>
            </ul>
        </p>
    </section>
</div>