<div class="animation" layout="column" flex>
    <section>
        <h3><i class="material-icons">movie</i> Animation</h3>
        <p>
            Grafika uses JSON as the data structure for the animation.<br/>
            There are two types of animations: 
            <a href="#private">Private</a> and <a href="#public">Public</a><br/>
        </p>
        <p>
            <h5>Data Structures</h5>
            <ul>
                <li>
                    <code>_id</code>
                    <p>
                        A unique id. Every animation is assigned a unique id by the system<br/>
                        as an identifier
                    </p>
                </li>
                <li>
                    <code>localId</code>
                    <p>
                        A unique id per platform. This unique id is created by 
                        the platform (i.e: This web site or Android app) that
                        creates the animation.
                    </p>
                </li>
                <li>
                    <code>name</code>
                    <p>
                        The user-friendly name of the animation. This can be changed anytime.
                    </p>
                </li>
                <li>
                    <code>author</code>
                    <p>
                        The author of this animation. This is usually taken from your username.
                        However, a default user preference can override this value.
                    </p>
                </li>
                <li>
                    <code>description</code>
                    <p>
                        An optional descriptive sentences that describe the animation
                    </p>
                </li>
                <li>
                    <code>width</code>
                    <p>
                        The width of the animation in pixels
                    </p>
                </li>
                <li>
                    <code>height</code>
                    <p>
                        The height of the animation in pixels
                    </p>
                </li>
                <li>
                    <code>isPublic</code>
                    <p>
                        A flag to tell the system to differentiate private vs public
                    </p>
                </li>
            </ul>
        </p>
    </section>
    <section id="private">
        <h3><i class="material-icons">lock_outline</i> Private</h3>
        <section>
            <p>
                Private animations can only be viewed, play and shared by the owner.<br/>
                Since this type of animation is only available to you, the commenting 
                service will not be available.
            </p>
            <p>
                As the owner of this animation, you can make change a private animation
                to be a public by changing the <code>isPublic</code> flag.<br/>
                Doing this will allow the animation to be accessible by everyone else.
            </p>
        </section>
    </section>
    <section id="public">
        <h3><i class="material-icons">lock_open</i> Public</h3>
        <section>
            <p>
                Public animations can be viewed, play and shared by anyone accessing the system.
                By marking an animation public, you (as an author of that animation) are granting
                everyone else a view access to your animation.
            </p>
        </section>
    </section>
</div>