<header id="header" class="stickdraw">
    <div id="header-content" class="header-content">
        <div class="row text-center">
            <h1 style="visibility: hidden">
                StickDraw
            </h1>
            <p id="stickdraw-logo">
            </p>
            <p class="font-larger">Still going strong!</p>
            <hr class="primary">
            <p class="text-faded font-larger">
                StickDraw is one of the first animation maker app ever wandered in Google Play Store. <br />
                Due to limitation of its design, we struggled to maintain the app. <br />
                But after a year of silence, <strong>it's back</strong>.
            </p>
            <p class="padding-xl">
                <a href="https://play.google.com/store/apps/details?id=com.bingzer.android.stickdraw" title="Get it from Google Play Store">
                    <img src="~/img/google-play-badge.png" alt="StickDraw on Google Play Store" />
                </a>
                <a href="https://www.amazon.com/bingzer-StickDraw/dp/B007IWIOME" title="Get it from Amazon App Store">
                    <img src="~/img/amazon-app-store-badge.png" alt="StickDraw on Amazon App Store" />
                </a>
            </p>
            <hr class="primary">
            <p class="text-faded font-larger margin-xl">
                We would like to thank the users and all of the positive and negative feedbacks. <br/>
            </p>
            <p class="margin-xl">
                <a href="#youtube" class="btn btn-lg btn-danger page-scroll" title="Scroll for more">
                    <i class="fa fa-arrow-down sr-icons"></i>
                </a>
            </p>
        </div>
    </div>
</header>
<section id="features" class="bg-dark padding-xxl">
    <header class="container">
        <div class="col-lg-12 text-center">
            <h2 class="text-faded">
                Features
            </h2>
            <p class="font-larger">                
                While we try to keep it as simple as possible, StickDraw packs a lot of features:
            </p>
        </div>
    </header>
    <div class="container section-heading">
        <div class="col-lg-6">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/cSSWwWndc3o" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </div>
        <div class="col-lg-6">
            <p>
                Most notable features:
            </p>
            <ul>
                <li>Draw with your fingers</li>
                <li>Multiple graphics: freeform, line, rectangle, circles, and many more</li>
                <li>Copy, cut and paste</li>
                <li>Use background or drawing</li>
                <li>Export animations to gif and mp4</li>
                <li>Super easy to user interface</li>
                <li>Auto save</li>
                <li>Localization: English, Korean, Portuguese and Indonesian</li>
            </ul>
        </div>
    </div>
</section>
<section id="youtube" class="padding-xxl">
    <header class="container">
        <div class="col-lg-12 text-center">
            <h2 class="text-dark">
                Youtube Channels
            </h2>
            <p class="font-larger">
                We compiled a list of animations published in YouTube created by StickDraw
            </p>
        </div>
    </header>
    <div class="container">
        <div class="col-lg-offset-2 col-lg-8">
            <iframe class="youtube-embedd" width="560" height="315" src="https://www.youtube.com/embed/videoseries?list=PLqadUo4AdKXyx9zDy5MJ00JqeHOkPnTHT" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
</section>
<section id="migration" class="bg-dark padding-xxl">
    <div class="row">
        <header class="col-lg-12 text-center">
            <i class="fa fa-4x fa-upload sr-icons"></i>
            <h2>
                Export animations to Grafika
            </h2>
            <p class="font-larger">
                In the future we will provide an export functionality from StickDraw animations to Grafika animations
            </p>
        </header>
    </div>
</section>
<section class="padding-xxl">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div id="comments-container" data-partial="auto" data-url="/api/stickdraw/comments?isPartial=true&BackgroundColor=transparent">
                    <!-- Comment goes here -->
                </div>
            </div>
        </div>
    </div>
</section>

@section styles {
    <environment names="Development">
        <link href="~/css/GrafikaApp.StickDraw.css" rel="stylesheet" type="text/css">
    </environment>
    <environment names="Production">
        <link rel="stylesheet" href="~/css/GrafikaApp.Bundle.StickDraw.min.css"
              asp-fallback-href="~/css/GrafikaApp.StickDraw.css"
              asp-fallback-test-class="btn" asp-fallback-test-property="border" asp-fallback-test-value="none" />
    </environment>
}


@section scripts {
    <environment names="Development">
        <script type="text/javascript" src="~/js/jquery.easing.js"></script>
        <script type="text/javascript" src="~/js/GrafikaApp.Stickdraw.js"></script>
    </environment>
    <environment names="Production">
        <script type="text/javascript" src="~/js/GrafikaApp.Bundle.StickDraw.min.js"></script>
    </environment>
}