@{
    ViewData["Title"] = "Index";
}
<header style="background: none">
    <div id="header-canvas-container">
        <canvas id="header-canvas"></canvas>
    </div>
    <div id="header-content" class="header-content">
        <div class="row text-center" style="padding: 8px">
            <img src="~/img/logo.png" alt="Grafika Logo" height="100" />
        </div>
        <div class="header-content-inner">
            <h1 id="homeHeading">A simpler animation maker</h1>
            <hr>
            <p class="font-larger">
                Create a simple stop-motion animation using your device.<br/>
            </p>
            <a href="#portfolio" class="btn btn-danger btn-xl page-scroll">Explore More</a>
            <a href="#portfolio" class="btn btn-default btn-xl">Next Animation</a>
        </div>
    </div>
</header>
<aside class="bg-dark no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter popup-gallery">
            <div class="col-lg-4 col-sm-6">
                <a href="img/portfolio/fullsize/1.jpg" class="portfolio-box">
                    <img src="img/portfolio/thumbnails/1.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Category
                            </div>
                            <div class="project-name">
                                Project Name
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="img/portfolio/fullsize/2.jpg" class="portfolio-box">
                    <img src="img/portfolio/thumbnails/2.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Category
                            </div>
                            <div class="project-name">
                                Project Name
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="img/portfolio/fullsize/3.jpg" class="portfolio-box">
                    <img src="img/portfolio/thumbnails/3.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Category
                            </div>
                            <div class="project-name">
                                Project Name
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="img/portfolio/fullsize/4.jpg" class="portfolio-box">
                    <img src="img/portfolio/thumbnails/4.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Category
                            </div>
                            <div class="project-name">
                                Project Name
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="img/portfolio/fullsize/5.jpg" class="portfolio-box">
                    <img src="img/portfolio/thumbnails/5.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Category
                            </div>
                            <div class="project-name">
                                Project Name
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="img/portfolio/fullsize/6.jpg" class="portfolio-box">
                    <img src="img/portfolio/thumbnails/6.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Category
                            </div>
                            <div class="project-name">
                                Project Name
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="row text-center">
            <hr class="light">
            <p class="text-faded font-larger">
                Animations are editable and viewable in any modern browser that supports HTML5.<br/>
                This makes Grafika Animations are playable in any modern device.
            </p>
            <p class="font-larger">
                <a href="/animations" class="btn btn-xl btn-danger">Browse more animations</a>
            </p>
        </div>
    </div>
</aside>
<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <i class="fa fa-4x fa-share-alt sr-icons sr-contact"></i>
                <h2 class="section-heading">Share everything!</h2>
                <p style="font-size: smaller">Or not</p>
                <hr class="light">
                <p class="text-faded font-larger">
                    It's up to you to decide.<br/>
                    You own your animations and share them with the world or keep them private.<br/>
                    You can also comment or rate other animations as you wish
                </p>
                <a href="#services" class="page-scroll btn btn-default btn-xl sr-button">Get Started!</a>
            </div>
        </div>
    </div>
</section>
<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">About this little project</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row text-center">
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-globe text-primary sr-icons sr-contact"></i>
                    <h3>Community</h3>
                    <p class="text-muted font-larger">
                        More than XX animations...<br/>
                        More than XX users and counting...
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-cubes text-primary sr-icons sr-contact"></i>
                    <h3>Cross-Platform</h3>
                    <p class="text-muted font-larger">
                        Everything is BETA. We're still cooking the Web and Android app, but feel free to test it out.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-12 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-code text-primary sr-icons sr-contact"></i>
                    <h3>Contribute</h3>
                    <p class="text-muted font-larger">
                        Many ways to contribute to better this project. Find out how!
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<aside class="bg-dark">
    <div class="container text-center">
        <div class="call-to-action">
            <h2>Try Grafika now!</h2>
            <a href="http://startbootstrap.com/template-overviews/creative/" class="btn btn-default btn-xl sr-button">Google Play Store</a>
            <a href="http://startbootstrap.com/template-overviews/creative/" class="btn btn-default btn-xl sr-button">Online</a>
        </div>
    </div>
</aside>
<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Let's Get Social</h2>
                <hr class="primary">
                <p class="font-larger">Keep the community growing by joining our networks over in social media</p>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <i class="fa fa-facebook fa-2x sr-contact"></i>
                <p class="font-larger">Grafika App</p>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <i class="fa fa-twitter fa-2x sr-contact"></i>
                <p class="font-larger"><a href="mailto:your-email@your-domain.com">@@grafikapp</a></p>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <i class="fa fa-google-plus fa-2x sr-contact"></i>
                <p class="font-larger"><a href="mailto:your-email@your-domain.com">@@grafikapp</a></p>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <i class="fa fa-envelope fa-2x sr-contact"></i>
                <p class="font-larger"><a href="mailto:your-email@your-domain.com">@@grafikapp</a></p>
            </div>
        </div>
    </div>
</section>

@section scripts {
    <script type="text/javascript" src="~/js/home/GrafikaApp.Home.js"></script>
    <script type="text/javascript" src="~/js/grafika.js"></script>
    <script type="text/javascript" src="~/js/grafika.demo.js"></script>
    <script type="text/javascript" defer>
        (function ($) {
            "use strict"; // Start of use strict

            var grafika = new Grafika();
            grafika.initialize('#header-canvas', { debugMode: true, loop: true, useCarbonCopy: false, useNavigationText: false });
            grafika.demo.initialize('alphabet');
            grafika.play();

            window.headerGrafika = grafika;
        })(jQuery);
    </script>
}