@model HomeViewModel

@{
    ViewData["Title"] = "Index";
}
<header style="background: none">
    <div id="header-canvas-container">
        <canvas id="header-canvas"></canvas>
    </div>
    <div id="header-content" class="header-content">
        <div class="row text-center" style="padding: 8px">
            <img src="~/img/logo.png" alt="Grafika Logo" height="100" />
        </div>
        <div class="header-content-inner">
            <h1>A simpler animation maker</h1>
            <hr>
            <p class="font-larger">
                Create a simple stop-motion animation using your device.<br/>
                <span id="animation-author" class="font-smaller" style="margin: 8px; font-weight: 700"></span>
            </p>
            <p>
                <a href="#featured" class="btn btn-danger btn-xl page-scroll">Explore More</a>
                <a id="btn-random-animation" href="javascript: void(0)" class="btn btn-default btn-xl" onclick="home.loadRandomAnimation()">Next Animation</a>
            </p>
        </div>
    </div>
</header>

<section id="featured" class="bg-dark no-padding" style="padding-bottom: 50px">
    <div class="container-fluid">
        <div class="row no-gutter popup-gallery">
            @foreach (var animation in Model.HandpickedSeries.Animations.PickRandom(6))
            {
                <figure class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                    <a href="/animations/@animation.Id/player?autoPlay=true&templateName=%7E%2FViews%2FHome%2F_PlayerPopup.cshtml" 
                       class="portfolio-box" style="background-image: linear-gradient(rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.3)), url('@animation.GetThumbnailUrl()')">
                        <figcaption class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <h2 class="project-category text-faded">
                                    @animation.Name
                                </h2>
                                <h3 class="project-name">
                                    by @animation.Author
                                </h3>
                            </div>
                        </figcaption>
                    </a>
                </figure>
            }
        </div>
        <div class="row text-center">
            <h2>Animations</h2>
            <hr class="light">
            <p class="text-faded font-larger">
                Animations are editable and viewable in any modern browser that supports HTML5.<br/>
                This makes Grafika Animations are playable in any modern device.
            </p>
            <p class="font-larger">
                <a href="/animations" class="btn btn-xl btn-danger">Browse more animations</a>
            </p>
        </div>
    </div>
</section>

<section id="highlight" class="bg-primary landing">
    <header class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <i class="fa fa-4x fa-globe sr-icons"></i>
                <h2 class="section-heading">Global Community</h2>
                <hr class="light">
                <p class="text-faded font-larger">
                    Join our growing community of animators<br />
                    More than XX animations...<br />
                    More than XX users and counting...
                </p>
            </div>
        </div>
    </header>
    <section style="margin-top: 32px">
        <div class="container">
            <div class="row">

                <div class="col-lg-4 text-center">
                    <h3 class="section-heading">
                        <i class="fa fa-star sr-icons"></i>
                        Create Animations
                    </h3>
                    <p class="text-faded font-larger">
                        Create and your own<br />
                        Make it from scratch.
                        Fun!<br />
                    </p>
                </div>

                <div class="col-lg-4 text-center">
                    <h3 class="section-heading">
                        <i class="fa fa-share-alt sr-icons"></i>
                        Share Everything
                        <span style="font-size: smaller">Or not</span>
                    </h3>
                    <p class="text-faded font-larger">
                        It's up to you to decide.<br />
                        You own your animations and share them with the world or keep them private.<br />
                    </p>
                </div>

                <div class="col-lg-4 text-center">
                    <h3 class="section-heading">
                        <i class="fa fa-comments sr-icons"></i>
                        Comments &amp; Ratings
                    </h3>
                    <p class="text-faded font-larger">
                        Leave feedback, comments and rate others animations<br />
                        Fun!<br />
                    </p>
                </div>
            </div>
        </div>
        <div class="text-center" style="margin-top: 24px">
            <a href="#services" class="page-scroll btn btn-default btn-xl sr-button">
                Join Now
            </a>
        </div>
    </section>
</section>

<section id="about" class="landing">
    <header class="container text-dark">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">About this little project</h2>
                <hr class="primary">
            </div>
        </div>
    </header>
    <div class="container">
        <div class="row text-center">
            <article class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-globe text-primary sr-icons sr-contact"></i>
                    <h3>Community</h3>
                    <p class="text-muted font-larger">
                        More than XX animations...<br/>
                        More than XX users and counting...
                    </p>
                </div>
            </article>
            <article class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-cubes text-primary sr-icons sr-contact"></i>
                    <h3>Cross-Platform</h3>
                    <p class="text-muted font-larger">
                        Everything is BETA. We're still cooking the Web and Android app, but feel free to test it out.
                    </p>
                </div>
            </article>
            <article class="col-lg-4 col-md-12 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-code text-primary sr-icons sr-contact"></i>
                    <h3>Contribute</h3>
                    <p class="text-muted font-larger">
                        Many ways to contribute to better this project. Find out how!
                    </p>
                </div>
            </article>
        </div>
    </div>
</section>

<aside class="bg-dark landing">
    <div class="container text-center">
        <div class="call-to-action">
            <h2>Try Grafika now!</h2>
            <a href="http://startbootstrap.com/template-overviews/creative/" class="btn btn-default btn-xl sr-button">Google Play Store</a>
            <a href="http://startbootstrap.com/template-overviews/creative/" class="btn btn-default btn-xl sr-button">Online</a>
        </div>
    </div>
</aside>

@section footer {
<section class="landing" id="contact">
    <header class="container text-dark">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Let's Get Social</h2>
                <hr class="primary">
                <p class="font-larger">Keep the community growing by joining our networks over in social media</p>
            </div>
        </div>
    </header>
    <div class="container">
        <div class="row">
            <article class="col-lg-3 col-md-6 text-center">
                <i class="fa fa-facebook fa-2x sr-contact"></i>
                <h3 class="font-larger"><a href="mailto:your-email@your-domain.com">@@grafikapp</a></h3>
            </article>
            <article class="col-lg-3 col-md-6 text-center">
                <i class="fa fa-twitter fa-2x sr-contact"></i>
                <h3 class="font-larger"><a href="mailto:your-email@your-domain.com">@@grafikapp</a></h3>
            </article>
            <article class="col-lg-3 col-md-6 text-center">
                <i class="fa fa-google-plus fa-2x sr-contact"></i>
                <h3 class="font-larger"><a href="mailto:your-email@your-domain.com">@@grafikapp</a></h3>
            </article>
            <article class="col-lg-3 col-md-6 text-center">
                <i class="fa fa-envelope fa-2x sr-contact"></i>
                <h3 class="font-larger"><a href="mailto:your-email@your-domain.com">@@grafikapp</a></h3>
            </article>
        </div>
    </div>
</section>
}

@section scripts {
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script type="text/javascript" src="~/js/jquery.magnific-popup.js"></script>
    <script type="text/javascript" src="~/js/grafika.js"></script>
    <script type="text/javascript" src="~/js/GrafikaApp.Player.js" ></script>
    <script type="text/javascript" src="~/js/home/GrafikaApp.Home.js"></script>
}
@section styles {
    <link href="~/css/magnific-popup.css" rel="stylesheet">
    <link href="~/css/home.css" rel="stylesheet" type="text/css" />
}