@model AnimationsViewModel

<div class="bg-transparent page-heading"></div>
<header id="header" class="page-wrapper padding-xxl">
    <div class="row text-center col-lg-12">
        <h1 style="visibility: collapse">Grafika - Animation Maker</h1>
        <p id="grafika-logo" class="logo-grafika logo-grafika-md logo-grafika-center"></p>
        <hr class="primary">
        <p class="text-faded font-xx-large">
            on IOS
        </p>
        <p class="text-faded font-xx-large">
            Still under consideration
        </p>
    </div>
</header>

@section styles {
    <environment names="Development">
        <link href="~/css/GrafikaApp.Platforms.css" rel="stylesheet" type="text/css">
    </environment>
    <environment names="Production">
        <link href="~/css/GrafikaApp.Bundle.Platforms.min.css" rel="stylesheet" type="text/css">
    </environment>
}

@section scripts {
    <environment names="Development">
        <script type="text/javascript" src="~/js/jquery.easing.js"></script>
        <script type="text/javascript" src="~/js/GrafikaApp.Platforms.js"></script>
    </environment>
    <environment names="Production">
        <script type="text/javascript" src="~/js/GrafikaApp.Bundle.Platforms.min.js"></script>
    </environment>
}