@model AnimationsViewModel
@{
    ViewBag.Title = "StickDraw";
}

<header class="bg-primary page-heading" style="background-color: #5C6BC0"></header>
<section class="bg-dark page-title" style="background-color: #5C6BC0">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h1>Saying goodbye to StickDraw</h1>
                <img src="~/img/stickdraw-logo.png" alt="StickDraw logo" width="250"/>
                <hr class="primary">
                <p class="text-faded font-larger">
                    StickDraw is one of the first animation maker app ever wandered in Google Play Store. <br/>
                    Due to limitation of its design, we have decided to deprecate the app. <br/>
                    Although, it will still be around in the Play Store, the excitement and the time to maintain the application has <i>gone</i>.
                </p>
                <hr class="primary">
                <p class="text-faded font-larger">
                    We would like to thank the users and all of the positive and negative feedbacks.
                </p>
            </div>
        </div>
    </div>
</section>
<section class="bg-primary landing">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <p class="text-faded font-larger">
                    But you should try
                </p>
                <p>
                    <a href="/">
                        <img src="~/img/logo.png" alt="Grafika logo" width="250">
                    </a>
                </p>
                <p class="text-faded font-larger">
                    A cross-platform and simpler animation maker app
                </p>
            </div>
        </div>
    </div>
</section>
