<!doctype html>
<html lang="en">
<head>
	<title ng-bind="app.uxService.pageTitle">Grafika</title>
	<meta charset="utf-8"/>
	<meta name="description" content="Grafika - Super simple animation maker for web and Android"/>
	<meta name="keyword" content="grafika,animation,animation maker,animation creator"/>
	<meta name="author" content="Grafika Team"/>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
	<link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
	<link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
	<link rel="manifest" href="/manifest.json">
	<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
	<meta name="theme-color" content="#008080">

    <meta property="og:site_name" content="Grafika"/>
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="{{url}}"/>
    <meta property="og:title" content="{{title}}"/>
    <meta property="og:description" content="{{description}}"/>
    <meta property="og:image" content="{{image}}"/>
	<meta property="fb:app_id" content="{{fb_appId}}"/>
</head>
<body>
</body>