@{ 
    var apiResetPasswordUrl = Utility.CombineUrl(AppEnvironment.Default.Server.Url, "/api/accounts/pwd/reset");
}

<div class="login-form">
    <header class="login-header">
        <h2>Forget Password</h2>
        <p>
            It's okay, human forgets.
        <p>
            Simply, enter your email address that you used to register and we'll send you a recovery email.
        </p>
    </header>
    <div class="row">
        <form id="recovery-form" action="@apiResetPasswordUrl" method="post" 
              data-type="application/json"
              data-callback="onRecoverySubmitted($result, $xhr)">
            <input type="text" name="email" placeholder="Email Address">
            <div class="pull-right">
                <button name="login" class="login-submit login-login" onclick="GrafikaApp.Form.submit(this)">
                    Send Password Reset
                </button>
            </div>
        </form>
    </div>
</div>

<script type="text/javascript">
    function onRecoverySubmitted(result, xhr) {
        console.log(xhr);
        console.log(result);
    }
</script>

