<style>

</style>

<div class="loginmodal-container">
    <h1>Login to Your Account</h1><br>
    <form action="/accounts/login?url=/animations/mine" method="post">
        <input type="text" name="email" placeholder="Email Address">
        <input type="password" name="password" placeholder="Password">
        <input type="submit" name="login" class="login loginmodal-submit" value="Login">
    </form>

    <a href="@Utility.CombineUrl(AppEnvironment.Default.Server.Url, "accounts/google")" type="button" class="login loginmodal-submit">Google</a>
    <a href="@Utility.CombineUrl(AppEnvironment.Default.Server.Url, "accounts/facebook")" type="button" class="login loginmodal-submit">Facebook</a>

    <div class="login-help">
        <a href="#">Register</a> - <a href="#">Forgot Password</a>
    </div>
</div>