@{ 
    var loginUrl = Utility.CombineUrl(AppEnvironment.Default.Server.Url, "/api/accounts");
}
<div class="login-form">
    <header id="login-header" class="login-header">
        <h1>Login to Grafika</h1><br>
    </header>
    <div class="row text-center">
        <a href="@Utility.CombineUrl(AppEnvironment.Default.Server.Url, "accounts/google")" type="button" class="login login-button login-oauth login-google" title="Use your Google account">
            <img src="~/img/google_white.png" alt="Google Logo" />
            Google
        </a>
        <a href="@Utility.CombineUrl(AppEnvironment.Default.Server.Url, "accounts/facebook")" type="button" class="login login-button login-oauth login-facebook" title="Use your Facebook account">
            <img src="~/img/facebook_white.png" alt="Facebook Logo" />
            Facebook
        </a>
        <a href="/signup" type="button" class="login login-button login-oauth login-register" title="Sign up a new account">
            <img src="~/img/logo.png" alt="Facebook Logo" />
            Sign Up
        </a>
    </div>
    <hr />
    <div class="row">
        <div id="login-form-controls">
            <form id="signin-form" action="@loginUrl" method="post"
                  data-type="application/json"
                  data-callback="GrafikaApp.navigateTo('/accounts/login/callback?token=' + $res.token + '&url=/animations/mine')"
                  onsubmit="return GrafikaApp.Form.onSubmit(this)">
                <input type="email" name="email" placeholder="Email Address" required>
                <input type="password" name="password" placeholder="Password" required>
                <div class="pull-right">
                    <input type="submit" name="login" class="login-button login-login" value="Login" disabled="disabled">
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="login-help">
            <p>
                By signing in you agree to our <a href="/eula">license agreement</a><br />
                <a href="#" data-dialog data-url="/accounts/forms/recovery" data-title="Account Recovery"><strong>Forgot password?</strong></a>
            </p>
        </div>
    </div>
</div>
<script type="text/javascript">
    function validate() {
        if ($('#signin-form').valid())
            $('#signin-form input[type=submit]').removeAttr('disabled');
        else $('#signin-form input[type=submit]').attr('disabled', 'disabled');
    }

    $('#signin-form input[type=password], #signin-form input[type=email]').keyup(validate);
</script>