@model PasswordFormViewModel

<div class="bg-dark page-heading"></div>
<div class="page-content login-form">
    @await Html.PartialAsync("_PasswordForm", Model)
</div>

@section styles {
<environment names="Development">
    <link href="~/css/GrafikaApp.Login.css" rel="stylesheet" type="text/css" />
</environment>
<environment names="Production">
    <link href="~/css/GrafikaApp.Bundle.Login.min.css" rel="stylesheet" type="text/css" />
</environment>
}
