<div class="bg-dark page-heading"></div>
<div class="page-wrapper">
    <div class="container-fluid page-content">
        @await Html.PartialAsync("_SignUpForm")
    </div>
</div>
@section styles {
    <link rel="stylesheet" type="text/css" href="~/css/login.css" />
}
