<md-dialog>
<form name="createForm">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>New Animation</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="vm.cancel()">
                <i class="material-icons">close</i>
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content>
      <div class="md-dialog-content">
        <md-input-container class="md-block" flex-gt-sm>
            <label>Name</label>
            <input ng-model="vm.name" required>
        </md-input-container>
        <md-input-container class="md-block" flex-gt-sm>
            <md-checkbox ng-model="vm.isPublic">Public Animation</md-checkbox>
        </md-input-container>
      </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button class="md-raised" ng-click="vm.cancel()">Cancel</md-button>
      <md-button class="md-raised md-accent" ng-click="vm.create()" ng-disabled="createForm.$invalid">Create</md-button>
    </md-dialog-actions>

</form>
</md-dialog>