<md-dialog>
<form name="graphicPropertiesForm" novalidate>
	<md-dialog-content layout-margin>
		<md-input-container>
    		<label>Select Graphics</label>
			<md-select ng-model="vm.index">
				<md-option ng-value="$index" ng-repeat="graphic in vm.graphics" ng-bind="'Graphic ' + ($index + 1)"></md-option>
			</md-select>
		</md-input-container>
		<md-input-container ng-show="false">
			<label>Uid</label>
			<input type="text" ng-model="vm.graphics[vm.index].uid" ng-required="true" ng-disabled="true">
		</md-input-container>
		<md-input-container>
			<label>Type</label>
			<md-select ng-model="vm.graphics[vm.index].type">
				<md-option ng-value="vm.graphicTypes[$index].name" ng-repeat="graphic in vm.graphicTypes | filter: { enabled: true }" ng-bind="vm.graphicTypes[$index].name"></md-option>
			</md-select>
		</md-input-container>
		<div layout="row">
			<md-input-container>
				<label>X</label>
				<input type="number" ng-model="vm.graphics[vm.index].x" ng-required="true">
			</md-input-container>
			<md-input-container>
				<label>Y</label>
				<input type="number" ng-model="vm.graphics[vm.index].y" ng-required="true">
			</md-input-container>
		</div>
		<div layout="row">
			<!-- Rectangle of Square -->
			<md-input-container ng-if="vm.graphics[vm.index].type == 'Rectangle' || vm.graphics[vm.index].type == 'Square'">
				<label>Width</label>
				<input type="number" ng-model="vm.graphics[vm.index].height" ng-required="true">
			</md-input-container>
			<md-input-container ng-if="vm.graphics[vm.index].type == 'Rectangle' || vm.graphics[vm.index].type == 'Square'">
				<label>Height</label>
				<input type="number" ng-model="vm.graphics[vm.index].y" ng-required="true">
			</md-input-container>
			<!-- Circle -->
			<md-input-container ng-if="vm.graphics[vm.index].type == 'Circle'">
				<label>Radius</label>
				<input type="number" ng-model="vm.graphics[vm.index].radius" ng-required="true">
			</md-input-container>
			<!-- Line -->
			<md-input-container ng-if="vm.graphics[vm.index].type == 'Line'">
				<label>End X</label>
				<input type="number" ng-model="vm.graphics[vm.index].endX" ng-required="true">
			</md-input-container>
			<md-input-container ng-if="vm.graphics[vm.index].type == 'Line'">
				<label>End Y</label>
				<input type="number" ng-model="vm.graphics[vm.index].endY" ng-required="true">
			</md-input-container>
			<!-- Freeforms -->
			<textarea rows="3" flex 
				ng-if="vm.graphics[vm.index].type == 'Freeform'" 
				ng-bind="vm.toJSON(vm.graphics[vm.index].points)" 
				ng-required="true"
				ng-disabled="true"></textarea>
		</div>
		<div layout="row" layout-margin>
			<stdx-color-picker color="vm.graphics[vm.index].foregroundColor"></stdx-color-picker>
			<md-checkbox ng-model="vm.graphics[vm.index].isFilled" layout-margin aria-label="fill color">Fill color</md-checkbox>
		</div>
	</md-dialog-content>
	<div class="md-actions" layout="row">
		<md-button ng-click="vm.close(true)" ng-disabled="graphicPropertiesForm.$invalid">Done</md-button>
	</div>
</form>
</md-dialog>