<style>
	body .header.navbar {
		display: none;
	}
    body .footer {
        display: none;
    }
</style>
<div class="drawing">
    <!-- Toolbar -->
    <ng-include src="'/app/animation/toolbar.html'"></ng-include>
    <!-- Canvas -->
    <div class="drawing" layout-padding layout="column" layout-align="center center">
        <md-card id="canvas-container" class="editor">
            <canvas id="canvas" context-menu="drawing-context-menu" ng-if="vm.contextMenuReady">No canvas support</canvas>
        </md-card>
    </div>
    <!-- Fabs -->
    <md-button class="md-fab md-fab-bottom-right md-accent" ng-click="vm.grafika.nextFrame()">
        <md-icon><i class="material-icons">navigate_next</i></md-icon>
    </md-button>
    <md-button class="md-fab md-fab-bottom-left md-accent" ng-click="vm.grafika.previousFrame()">
        <md-icon><i class="material-icons">navigate_before</i></md-icon>
    </md-button>
    <!-- Context menu -->
    <ng-include src="'/app/animation/drawing-context-menu.html'" onload="vm.contextMenuReady = true"></ng-include>
</div>