<footer class="footer bg-dark">
    <div class="container">
        <div class="col-lg-2" style="margin: 0">
            <h2>Grafika</h2>
        </div>
        <div class="col-lg-8 text-center">
            <i class="fa fa-facebook fa-2x sr-contact"></i>
            <i class="fa fa-twitter fa-2x sr-contact"></i>
            <i class="fa fa-google-plus fa-2x sr-contact"></i>
            <i class="fa fa-envelope fa-2x sr-contact"></i>
        </div>
        <nav class="col-lg-2 text-white">
            <a class="text-white" href="/eula">Eula</a> | <a class="text-white" href="/privacy-policy">Privacy Policy</a>
        </nav>
    </div>
</footer>