<footer class="footer bg-dark">
    <div class="container-fluid">
        <div class="col-md-4 col-lg-2">
            <h2 style="margin: 0">Grafika</h2>
            <p id="social-medias">
                <a href="https://www.facebook.com/grafikaapp" title="Grafika at facebook"><i class="fa fa-facebook sr-contact"></i></a>
                <a href="https://twitter.com/grafikaapp" title="Grafika at twitter"><i class="fa fa-twitter sr-contact"></i></a>
                <a href="mailto:grafika@bingzer.com" title="Email us"><i class="fa fa-envelope sr-contact"></i></a>
            </p>
            <p>
                <span class="sr-contact text-faded font-smaller">2017 @@ Virginia, USA</span>
            </p>
        </div>
        <div class="col-md-4 col-lg-8 text-center">

        </div>
        <nav class="col-md-4 col-lg-2 text-white">
            <a class="text-white" href="/eula">Eula</a> | <a class="text-white" href="/privacy-policy">Privacy Policy</a>
        </nav>
    </div>
</footer>