@model AnimationsViewModel
@{
    Layout = null;
}

<div class="animation-thumbnails-container">
    @foreach (var anim in Model.Animations)
    {
        @await Html.PartialAsync("_Thumbnail", anim)
    }
</div>
