@model AnimationPlayerViewModel

@{
    var landscape = Model.Animation.Width >= Model.Animation.Height ? "landscape" : "portrait";
}

<div id="player" class="player player-width landscape">
    <figure id="player-container" class="player-container player-width player-height @landscape">
        <canvas id="player-canvas"></canvas>
    </figure>
    <div id="player-controls" class="player-controls" style="display: none">
        <div class="player-buttons text-center">
            <a href="javascript: void(0)" class="btn btn-sm" onclick="window.player.togglePlay().then(player.togglePlayCallback)">
                <i class="play fa fa-play"></i>
                <i class="pause fa fa-pause fa-spin" style="display: none"></i>
            </a>
            <input id="player-slider"
                   type="text"
                   data-provide="slider"
                   data-slider-min="1"
                   data-slider-max="@Model.Animation.TotalFrame"
                   data-slider-step="1"
                   data-slider-value="1">
            <a href="javascript: void(0)" class="btn btn-sm" onclick="player.grafika.previousFrame()">
                <i class="fa fa-arrow-left"></i>
            </a>
            <a href="javascript: void(0)" class="btn btn-sm" onclick="player.grafika.nextFrame()">
                <i class="fa fa-arrow-right"></i>
            </a>
        </div>
    </div>
</div>
<script type="text/javascript" defer>
    $(document).ready(function () {
        var slider = $('#player-slider').slider({ tooltip: "hide" }).change(function () {
            player.pause();
            player.grafika.navigateTo($(this).val());
        });
        var player = new GrafikaApp.Player('#player-canvas');
        window.player = player;
        
        player.loadAnimation('@Model.Animation.Id').then(function () {
            $('#player-controls').show();
            @if (Model.AutoPlay == true)
            {
                <text>player.togglePlay();</text>
            }
        });
        player.grafika.setCallback({
            on: function (eventName, obj) {
                switch (eventName) {
                    case Grafika.EVT_FRAME_CHANGED:
                        slider.slider('setValue', obj);
                        break;
                    case Grafika.EVT_PLAYING:
                        if (obj) {
                            $('i.fa-play').hide();
                            $('i.fa-pause').show();
                        }
                        else {
                            $('i.fa-play').show();
                            $('i.fa-pause').hide();
                        }
                        break;
                }
            }
        });
    });
</script>
<noscript>Unable to preview</noscript>