@model AnimationDrawingViewModel

<section ng-app="app" ng-controller="DrawingController as vm" layout="row" style="min-height: 100%; background-color: #ddd">
    <div id="content" ui-view flex></div>
</section>


@section scripts {
@if (Model.Animation != null)
{
    <script type="text/javascript">
        GrafikaApp.Drawing = {
            animationId: '@Model.Animation.Id'
        };
    </script>
}
<!-- Angular+ -->
<script type="text/javascript" src="~/js/angular.js"></script>
<script type="text/javascript" src="~/js/angular-animate.js"></script>
<script type="text/javascript" src="~/js/angular-aria.js"></script>
<script type="text/javascript" src="~/js/angular-messages.js"></script>
<script type="text/javascript" src="~/js/angular-touch.js"></script>
<script type="text/javascript" src="~/js/angular-cookies.js"></script>
<script type="text/javascript" src="~/js/angular-sanitize.js"></script>
<script type="text/javascript" src="~/js/angular-material.js"></script>
<script type="text/javascript" src="~/js/angular-ui-router.js"></script>
<script type="text/javascript" src="~/js/angular-jwt.js"></script>
<script type="text/javascript" src="~/js/spectrum.js"></script>
<script type="text/javascript" src="~/js/angular-spectrum-colorpicker.min.js"></script>

<!-- App -->
<script type="text/javascript" src="~/js/drawing/GrafikaApp.Drawing.Theme.js"></script>
<script type="text/javascript" src="~/js/drawing/GrafikaApp.Drawing.Base.js"></script>
<script type="text/javascript" src="~/js/drawing/GrafikaApp.Drawing.AppCommon.js"></script>
<script type="text/javascript" src="~/js/drawing/GrafikaApp.Drawing.AppAuthInterceptor.js"></script>
<script type="text/javascript" src="~/js/drawing/GrafikaApp.Drawing.AppHttpInterceptor.js"></script>
<script type="text/javascript" src="~/js/drawing/GrafikaApp.Drawing.AppRoutes.js"></script>

<script type="text/javascript" src="~/js/drawing/GrafikaApp.Drawing.Controllers.BaseController.js"></script>
<script type="text/javascript" src="~/js/drawing/GrafikaApp.Drawing.Controllers.AuthController.js"></script>
<script type="text/javascript" src="~/js/drawing/GrafikaApp.Drawing.Controllers.BaseAnimationController.js"></script>
<script type="text/javascript" src="~/js/drawing/GrafikaApp.Drawing.Controllers.DialogController.js"></script>
<script type="text/javascript" src="~/js/drawing/GrafikaApp.Drawing.Controllers.DrawingController.js"></script>

<script type="text/javascript" src="~/js/drawing/GrafikaApp.Drawing.Filters.CapitalizeFirstLetter.js"></script>
<script type="text/javascript" src="~/js/drawing/GrafikaApp.Drawing.Directives.ContextMenuDirective.js"></script>
<script type="text/javascript" src="~/js/drawing/GrafikaApp.Drawing.Directives.ImageUploaderDirective.js"></script>

<script type="text/javascript" src="~/js/drawing/GrafikaApp.Drawing.Services.BaseService.js"></script>
<script type="text/javascript" src="~/js/drawing/GrafikaApp.Drawing.Services.AnimationService.js"></script>
<script type="text/javascript" src="~/js/drawing/GrafikaApp.Drawing.Services.ApiService.js"></script>
<script type="text/javascript" src="~/js/drawing/GrafikaApp.Drawing.Services.AuthService.js"></script>
<script type="text/javascript" src="~/js/drawing/GrafikaApp.Drawing.Services.FrameService.js"></script>
<script type="text/javascript" src="~/js/drawing/GrafikaApp.Drawing.Services.ResourceService.js"></script>

<script type="text/javascript" src="~/js/grafika.js"></script>
<script type="text/javascript" src="~/js/GrafikaApp.Drawing.js"></script>
}

@section styles {
<link rel="stylesheet" type="text/css" href="~/css/angular-material.css" />
<style>
    img#logo {
        display: none !important;
    }
</style>
}