@model AnimationQueryOptions
@{
    ViewBag.Title = "Public Animations";
}

<header class="bg-dark page-heading"></header>
<section class="page-wrapper">
    <header class="bg-dark page-title text-center">
        <h1>Public Animations</h1>
        <p>Here you can find animations</p>
    </header>
    <article class="page-content" data-partial="auto" data-url="/animations/list" data-data="@Model.ToJson()">
        Loading...
    </article>
</section>

@section styles {
    <link href="~/css/animation-list.css" rel="stylesheet" type="text/css" />
}
@section footer {
    @await Html.PartialAsync("_Footer")
}