@model AnimationQueryOptions
@{
    ViewBag.Title = "Public Animations";
}

<header class="bg-dark page-heading"></header>
<section class="bg-dark page-title">
    <h1>Public Animations</h1>
    <p>Here you can find animations</p>
</section>
<section class="page-wrapper" data-partial="auto" data-url="/animations/list" data-data="@Model.ToJson()">
    Loading...
</section>
