@model AnimationsViewModel
@{
    ViewBag.Title = "Public Animations";
}

<header class="bg-dark" style="min-height: 51px">
</header>
<section style="margin-top: -51px">
    @foreach(var anim in Model.Animations)
    {
        await Html.RenderPartialAsync("_AnimationThumbnail", anim);
    }
</section>
