@model AnimationsViewModel
@{
    var userIdentity = (User.Identity as IUserIdentity);
}

<header class="bg-transparent page-heading page-heading-lg text-center text-white"
        style="background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.0)), url('@userIdentity.GetUserBackdropUrl()') no-repeat; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; ">
    <h1>Animations by @userIdentity.Username</h1>
    <p>These are your animations</p>
    <p class="pull-right">
        <button class="btn btn-sm btn-danger"
                data-dialog
                data-title="New Animations"
                data-size="medium"
                data-url="/animations/forms/create">
            <i class="fa fa-plus"></i>
            Create Animation
        </button>
    </p>
</header>
<div class="page-content page-content-gutter" id="animations">
    <div id="animation-thumbnails-container">
        @foreach (var anim in Model.Animations)
        {
            @await Html.PartialAsync("_Thumbnail", anim)
        }
    </div>
    <article id="more-button-container" class="text-center">
        <button id="more-button"
                class="btn btn-danger"
                onclick="GrafikaApp.Partials.renderPartial(this)"
                data-partial="append"
                data-url="/animations/list"
                data-target="#animation-thumbnails-container"
                data-callback="var d = $('#more-button').data();d.data.pageNumber++;$('#more-button').attr('data-data', JSON.stringify(d))"
                data-data="@Model.Options.NextPage().ToJson()">
            <i class="fa fa-arrow-down"></i>
        </button>
    </article>
</div>
