<footer id="footer" class="footer">
    <div layout="column" flex>
        <md-divider></md-divider>
        <div class="footer-content" layout="row" layout-wrap layout-margin>
            <span flex-xs="35">© 2017 Grafika</span>
            <span flex-xs="35"><a href="/about">About</a></span>
            <span flex-xs="35" style="margin-top: 6px">
                <a href="https://facebook.com/grafikaapp" target="_blank"><img src="assets/img/facebook_blue.png" height="16" title="Grafika on Facebook" alt="Grafika on Facebook"></a>&nbsp;
                <a href="https://twitter.com/grafikaapp" target="_blank"><img src="assets/img/twitter_blue.png" height="18" title="Grafika on Twitter" alt="Grafika on Twitter"></a>&nbsp;
                <a href="https://www.youtube.com/channel/UC12gvZkSSLCK3XG26wfajVA" target="_blank"><img src="assets/img/youtube_red.png" height="18" title="Grafika on YouTube" alt="Grafika on YouTube"></a>&nbsp;
            </span>
            
            <span hide-xs flex></span>
            
            <span flex-xs="35" layout-align-xs="end"><a href="/help">Help</a></span>	
            <span flex-xs="35" layout-align-xs="end"><a href="/eula">Terms</a></span>	
            <span flex-xs="35" layout-align-xs="end"><a href="/privacy">Privacy</a></span>
            <span flex-xs="50" layout-align-xs="center" class="font-smaller text-muted" style="margin-top: 0">
                <span ng-bind="'v' + app.getVersionInfo('Grafika Client').version"></span> <br/>
                <span ng-bind="'API v' + app.getVersionInfo('Grafika Api Server').version"></span>
            </span>
        </div>
    </div>
</footer>