<style>
	nav.header .nav-link-logo {
		display: none
	}
	nav.header {
		box-shadow: none;
	}
</style>
<div class="home">	
	<div class="banner" ng-init="app.initGrafika()">
		<div id="banner-canvas-container" class="banner-canvas-container">
			<canvas id="banner-canvas"></canvas>
		</div>
		<div layout-fill class="canvas-overlay"></div>
		<img id="logo" src="/assets/img/logo.png" width="250" alt="Grafika logo"/>
	</div>
	<div id="banner-sharing md-whiteframe-z2" layout-align="end center" layout-margin layout="row" style="margin-top: -48px; position: absolute; right: 0; z-index: 50">
		<div fb-like="app.sharing.url"></div>
		&nbsp;
		<div tweet="app.sharing.name" tweet-url="app.sharing.url" style="padding-top: 6px"></div>
		&nbsp;
		<div google-plus="app.sharing.url" style="padding-top: 4px"></div>
	</div>
	<div class="intro" layout="column">
		<div class="parts" layout="row" layout-align="center" layout-wrap>
			<div class="part" flex-gt-sm="30" flex="90" layout-padding>
				<p>
					<i class="material-icons">movie_filter</i><br/>
					<span class="md-headline">Animations</span>
				</p>
				<p>
					Animations are editable and viewable in any modern browser that supports HTML5.
				</p>
				<div layout="row" layout-padding layout-align="center">
					<a class="btn btn-warning" href="/about">More...</a>
				</div>
			</div>
			<div class="part" flex-gt-sm="30" flex="90" layout-padding>
				<p>
					<i class="material-icons">public</i><br/>
					<span class="md-headline">Community</span>
				</p>
				<p>
					Own your animations and share them with the world or keep them private.
					You can also comment or rate other animations as you wish.
				</p>
				<div layout="row" layout-padding layout-align="center">
					<button class="btn btn-success" ng-click="app.login($event)">Login</button>
					<span>&nbsp;</span>
					<button class="btn btn-info" ng-click="app.register($event)">Register</button>
					<span>&nbsp;</span>
					<a class="btn btn-default" href="#publics">Browse</a>
				</div>
			</div>

			<div class="part" flex-gt-sm="30" flex="90" layout-padding>
				<p>
					<i class="material-icons">devices</i><br/>
					<span class="md-headline">Cross Platform</span>
				</p>
				<p>
					Everything is BETA. We're still cooking the Web and Android app, but feel free to test it out.
				</p> 
				<div layout="row" layout-padding layout-align="center">
					<a class="btn btn-success" href="/animations/mine?new">Try it</a>
					<span>&nbsp;</span>
					<a href="https://play.google.com/store/apps/details?id=com.bingzer.android.grafika" 
						title="Get it on Google Play" style="padding: 0px"
						analytics-on="click" analytics-category="app" analytics-event="google-play">
						<img height="36" src="/assets/img/google-play-badge.png" alt="Get it on Google Play"/>
					</a>
				</div>
			</div>
		</div>

		<div style="position: relative; height: 264px;">
			<div style="position: absolute; left: 0; top: 0; height: 100%; width: 100%; background: url('assets/img/code-background.png')"></div>
			<div style="position: absolute; left: 0; top: 0; height: 100%; width: 100%; background-color: rgba(0,128,128, 0.9)">
				<div layout="column" class="open-source" style="margin: 32px" layout-align-gt-md="center center">
					<div layout="row" layout-margin layout-align="start">
						<img src="assets/img/github_light.png" width="64" height="64">
						<p class="md-headline text-white" layout="row" layout-wrap layout-align="center center">
							Open
						</p>
					</div>
					<div layout="column" class="text-white" layout-align="center">
						<p layout="row" layout-wrap>
							The platform is totally open! Documentation is not great, but if you like code please do check it out. <br/>
							Mostly javascript/typescript.
						</p>
						<div layout="row" layout-padding layout-align-gt-md="center center">
							<a class="btn btn-info" href="http://github.com/bingzer/grafika.js" target="_blank" title="The core engine that renders the animations" 
								analytics-on="click" analytics-category="open-source" analytics-event="grafika.js">Grafika.js</a>
							<span>&nbsp;</span>
							<a class="btn btn-success" href="http://github.com/bingzer/grafika.server" target="_blank" title="The API server"
								analytics-on="click" analytics-category="open-source" analytics-event="grafika.server">Grafika.Server</a>
							<span>&nbsp;</span>
							<a class="btn btn-warning" href="http://github.com/bingzer/grafika.client" target="_blank" title="This web site"
								analytics-on="click" analytics-category="open-source" analytics-event="grafika.client">Grafika.Client</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div id="publics" class="publics" layout"column" ng-controller="AnimationListController as vm" style="margin-bottom: 48px">
		<form name="filterForm" class="md-whiteframe-z2" layout="row" layout-wrap layout-padding ng-submit="vm.list()">
			<md-input-container flex="65">
				<label>Search</label>
				<input type="search" ng-model="vm.paging.term" flex>
			</md-input-container>
			<md-input-container flex="35">
				<label>Sort</label>
				<md-select ng-model="vm.paging.sort" ng-change="vm.list()">
					<md-option ng-repeat="sort in vm.animationSorts" ng-value="sort.key" ng-bind="sort.value"></md-option>
				</md-select>
			</md-input-container>
			<span flex layout-align="end">
				<md-button class="md-button md-primary md-raised md-cornered" type="submit">Search</md-button>
				<md-button class="md-button md-raised md-cornered" type="button" ng-click="vm.reset()">Reset</md-button>
			</span>
		</form>
		<div class="list" ng-include="'app/animation/list.html'" layout-margin flex layout-align="center"></div>
	</div>
</div>