<md-dialog>
<form name="forgePasswordForm" ng-submit="vm.sendForgetEmail()" novalidate>
	<md-toolbar>
		<div class="md-toolbar-tools">
			<h2 ng-bind="'Password reset'" flex></h2>
            <md-button class="md-icon-button" ng-click="vm.cancel()">
                <i class="material-icons">close</i>
            </md-button>
		</div>
	</md-toolbar>
	<md-dialog-content>
		<div class="md-dialog-content">
			<md-input-container class="md-block" flex-gt-sm>
				<label>Email</label>
				<input type="email" ng-model="vm.email" ng-required="true" ng-disabled="vm.busy">
			</md-input-container>
			<p class="md-caption" ng-show="vm.message" ng-bind="vm.message"></p>
		</div>
	</md-dialog-content>
	<md-dialog-actions layout="row">
        <span flex></span>
		<md-button type="button" ng-click="vm.close()" ng-disabled="vm.busy">Close</md-button>
		<md-button type="button" ng-click="vm.sendForgetEmail()" ng-disabled="vm.busy || forgePasswordForm.$invalid" ng-hide="vm.done">Reset Password</md-button>
	</md-dialog-actions>
</form>
</md-dialog>