<md-dialog>
<form name="passwordForm" novalidate>
	<md-toolbar ng-show="vm.title">
		<div class="md-toolbar-tools">
			<h4 ng-show="vm.title" ng-bind="vm.title" flex></h4>
		</div>
	</md-toolbar>
	<md-dialog-content>
		<div class="md-dialog-content" layout="column">
			<p class="md-subtitle" ng-show="vm.subtitle" ng-bind="vm.subtitle"></p>
			<md-input-container class="md-block" ng-if="vm.requireCurrentPassword">
				<label>Current password</label>
				<input type="password" ng-model="vm.currentPassword" ng-required="true" ng-disabled="vm.busy">
			</md-input-container>
			<md-input-container class="md-block">
				<label>New password</label>
				<input type="password" ng-model="vm.newPassword" ng-required="true" ng-disabled="vm.busy">
			</md-input-container>
			<md-input-container class="md-block" ng-disabled="vm.busy">
				<label>Confirm new password</label>
				<input type="password" ng-model="vm.confirmPassword" ng-required="true" ng-disabled="vm.busy">
			</md-input-container>
			<p class="md-caption" ng-show="vm.message && !vm.busy" ng-bind="vm.message"></p>
		</div>
		<md-progress-circular layout-margin class="md-hue-2" md-mode="indeterminate" ng-show="vm.busy" md-diamater="20px"></md-progress-circular>
	</md-dialog-content>
	<md-dialog-actions layout="row" ng-show="!vm.busy">
		<span flex></span>
		<md-button ng-show="vm.closable" type="button" ng-click="vm.close()" ng-disabled="vm.busy" aria-label="close">Close</md-button>
		<md-button ng-bind="vm.requireCurrentPassword ? 'Change Password' : 'Set password'" 
			aria-label="Set password"
			ng-click="vm.changePassword()" 
			ng-disabled="vm.busy || passwordForm.$invalid || vm.newPassword !== vm.confirmPassword" 
			ng-hide="vm.done"></md-button>
	</md-dialog-actions>
</form>
</md-dialog>